@using DemoShoppingWebsite.Models
@model IEnumerable<table_Product>
@{
    ViewBag.Title = "商品瀏覽";
}

@*Search Bar*@
<div style="display:flex ;justify-content:center;margin:20px;">
    <form action="~/Home/Query" method="get" style="display: flex; justify-content: center;">
        <div class="form-inline" style="display:flex;">
            <input type="text" class="form-control" placeholder="Search Something..." name="SearchContent" >
            <input type="submit" value="搜尋" class="btn btn-toolbar" style="margin-left:1px;" />
        </div>
    </form>
</div>

<div class="row" style="margin-top:10px">
    @foreach (var item in Model)
    {
        @Html.Partial("_ProductList", item)
    }
</div>
