@model DemoShoppingWebsite.Models.table_Product

<div class="col-md-4">
    <div class="thumbnail">
        <img src="~/image/@Model.Image" style="width:300px;height:270px" />
        <div class="caption">
            <h3>@Model.Name</h3>
            <h4>單價:@Model.Price</h4>
            <p>
                <a href="@Url.Action("AddCar","Member")?ProductId=@Model.ProductId" class="btn btn-primary">加入購物車</a>
            </p>
        </div>
    </div>
</div>